*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Roboto;
}

.App {
  /*padding: 30px;*/
}

.App > div {
  margin-right: 50px;
}

button{
  cursor: pointer;
  border: none;
  padding: 5px;
  margin: 0 10px;
}
.todolist{
  min-width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #00000033;
}
.todolist ul{
  width: 100%;
  flex-grow: 1;
}
.todolist ul li{
  display: flex;
  align-items: center;
}
.todolist ul li p{
  flex-grow: 1;
}


.activeButton{
  background-color: teal;
  border: none;
}

.completedTask{
  opacity: 0.6;
}

.errorText{
  color: red;
}
